<!DOCTYPE HTML>

<!--

    Notice on COPYRIGHT:
    ===================

    Some code in this file is based on, copied from, and or modified from
    the code in the original DDDSample application. Please, see the copyright
    notice in "README.md" and the copy of the original licence in
    "original-license.txt", as well.

    References:
    ==========

    1.  Based on the similar Thymeleaf view: "admin/registrationForm" in the original DDDSample.
    2.  Thymeleaf iteration: https://www.baeldung.com/thymeleaf-iteration
    3.  Handling collections with @thymesVar: https://stackoverflow.com/questions/48511677/how-do-i-handle-collections-with-thymesvar
-->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <div class="row-cols-1 mt-3">

        <!--/*@thymesVar id="bookingForm" type="com.github.cargoclean.infrastructure.adapter.web.presenter.booking.BookingForm"*/-->

        <form method="post" action="#" th:action="@{/book}" th:object="${bookingForm}">
            <div class="mb-3">
                <label for="originLocation" class="form-label">Origin</label>
                <select id="originLocation" class="form-select-sm" th:field="*{origin}">
                    <option th:each="unlocode : *{locations}"
                            th:value="${unlocode}"
                            th:text="${unlocode}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="destinationLocation" class="form-label">Destination</label>
                <select id="destinationLocation" class="form-select-sm" th:field="*{destination}">
                    <option th:each="unlocode : *{locations}"
                            th:value="${unlocode}"
                            th:text="${unlocode}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="deliveryDeadline" class="form-label">Delivery deadline</label>
                <input id="deliveryDeadline" type="date" class="form-control-sm"
                       th:field="*{deliveryDeadline}">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Book</button>
            </div>

        </form>

    </div>

</div>


<th:block th:replace="fragments :: footer"></th:block>

</body>
</html>