<!DOCTYPE HTML>

<!--
    Notice on COPYRIGHT:
    ===================

    Some code in this file is based on, copied from, and or modified from
    the code in the original DDDSample application. Please, see the copyright
    notice in "README.md" and the copy of the original licence in
    "original-license.txt", as well.

    References:
    ==========

    1.  Based on the similar Thymeleaf view: "admin/list.html" in the original DDDSample.
    2.  Spring Boot, Maven, WebJars: https://www.springboottutorial.com/spring-boot-with-jquery-and-bootstrap-web-jars
    3.  Thymeleaf and Bootstrap with Webjars: https://dev.to/reytech-lesson/using-webjars-in-spring-boot-53a0
    4.  Bootstrap jumbotron: https://www.w3schools.com/bootstrap5/bootstrap_jumbotron.php
    5.  Thymeleaf fragments: https://www.baeldung.com/spring-thymeleaf-fragments
    6.  Bootstrap Icons, How-to: https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-icons.php
    7.  Thymeleaf and Spring Security: https://www.thymeleaf.org/doc/articles/springsecurity.html
    8.  Thymeleaf, Spring Security, GitHub: https://github.com/thymeleaf/thymeleaf-extras-springsecurity
-->


<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <div class="row-cols-1 mt-3">
        Hello,&nbsp;
        <span sec:authorize="isAnonymous()">you are not authenticated.</span>
        <th:block sec:authorize="isAuthenticated()">
            <span sec:authorize="isAuthenticated()" th:text="${username}" class="fw-bold"></span>.
        </th:block>
        &nbsp;Here are the use cases:
    </div>

    <div class="row-cols-1">
        <ul>
            <li><a th:href="@{/bookNewCargo}">Book new cargo</a> (<i>agent, manager</i>)</li>
            <li><a th:href="@{/reportExpectedArrivals}">Report expected arrivals</a> (<i>anybody</i>)</li>
            <li><a th:href="@{/swagger-ui/index.html}" target="_blank">Record handling event</a> (<i>manager</i>)</li>
            <li><a th:href="@{/cargoTracking}">Track a cargo</a> (<i>agent, manager</i>)</li>
            <li><a th:href="@{/addNewLocation}">Add new location</a> (<i>manager</i>)</li>
            <li><a th:href="@{/updateLocation}">Update location</a> (<i>manager</i>)</li>
        </ul>
    </div>

    <div class="mt-3 row-cols-2">
        <table>
            <thead>
            <tr>
                <th>Cargo N°</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Routed</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="cargoes" type="java.util.List<com.github.cargoclean.core.model.cargo.CargoInfo>"*/-->
            <tr th:each="cargoInfo: ${cargoes}">
                <td>
                    <a th:href="@{/showCargoDetails(trackingId=${cargoInfo.trackingId})}"
                       th:text="${cargoInfo.trackingId}"></a>
                </td>
                <td th:text="${cargoInfo.origin}"></td>
                <td th:text="${cargoInfo.destination}"></td>
                <td>
                    <span th:if="${cargoInfo.routed}" class="bi-check-square-fill" style="color: lightskyblue;"></span>
                    <span th:if="${!cargoInfo.routed}" class="bi-square" style="color: lightskyblue;"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>