<!DOCTYPE HTML>

<!--
    References:
    ==========

    1.  Spring Boot, Maven, WebJars: https://www.springboottutorial.com/spring-boot-with-jquery-and-bootstrap-web-jars
    2.  Thymeleaf and Bootstrap with Webjars: https://dev.to/reytech-lesson/using-webjars-in-spring-boot-53a0
    3.  Bootstrap jumbotron: https://www.w3schools.com/bootstrap5/bootstrap_jumbotron.php
    4.  Thymeleaf fragments: https://www.baeldung.com/spring-thymeleaf-fragments
-->


<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <div class="row-cols-1 mt-3">
        Currently, we can do the following:
    </div>

    <div class="row-cols-1">
        <ul>
            <li><a th:href="@{/bookNewCargo}">Book new cargo</a></li>
            <li><a th:href="@{/reportExpectedArrivals}">Report expected arrivals</a></li>
            <li><a th:href="@{/cargoTracking}">Track a cargo</a></li>
        </ul>
    </div>

</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>