<!DOCTYPE HTML>

<!--

    Notice on COPYRIGHT:
    ===================

    Some code in this file is based on, copied from, and or modified from
    the code in the original DDDSample application. Please, see the copyright
    notice in "README.md" and the copy of the original licence in
    "original-license.txt", as well.

    References:
    ==========

    1.  Based on the similar Thymeleaf view: "admin/show.html" in the original DDDSample.
    2.  Bootstrap form layout: https://getbootstrap.com/docs/5.2/forms/layout/
    3.  Thymeleaf, URL parameters: https://www.thymeleaf.org/doc/articles/standardurlsyntax.html#adding-parameters
    4.  Thymeleaf, construct URL with variables: https://stackoverflow.com/questions/14938344/thymeleaf-construct-url-with-variable
-->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>


    <!--/*@thymesVar id="cargo" type="com.github.cargoclean.infrastructure.adapter.web.routing.CargoInfoDto"*/-->
    <div class="row-cols-1 mt-3" th:object="${cargo}">

        <div class="row mb-3">
            <label for="trackingId" class="col-2 col-form-label">Details for cargo</label>
            <div class="col-1">
                <span id="trackingId" class="form-control-plaintext fw-bold" th:text="*{trackingId}"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label for="origin" class="col-2 col-form-label">Origin</label>
            <div class="col-1">
                <input id="origin" class="form-control" th:value="*{origin}" readonly="readonly">
            </div>
        </div>

        <div class="row mb-3">
            <label for="destination" class="col-2 col-form-label">Destination</label>
            <div class="col-1">
                <input id="destination" class="form-control" th:value="*{destination}" readonly="readonly">
            </div>
        </div>

        <div class="row mb-3">
            <label for="arrivalDeadline" class="col-2 col-form-label">Arrival deadline</label>
            <div class="col-2">
                <input id="arrivalDeadline" class="form-control" th:value="*{arrivalDeadline}" readonly="readonly">
            </div>
        </div>

        <th:block th:if="*{isRouted()}">

            <div class="row">
                <div class="col-6">
                    <div class="row mb-3">
                        <div class="col-12">
                            This cargo is currently routed.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <table style="border: lightgray 1px solid;">
                                <thead>
                                <tr>
                                    <th>Voyage</th>
                                    <th>From</th>
                                    <th>Load on</th>
                                    <th>To</th>
                                    <th>Unload on</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="leg : ${cargo.routeDto.legs}">
                                    <td>
                                        <span th:text="${leg.voyageNumber}"/>
                                    </td>
                                    <td>
                                        <span th:text="${leg.from}"/>
                                    </td>
                                    <td>
                                        <span th:text="${#dates.format(leg.loadTime, 'dd-MM-yyyy HH:mm')}"/>
                                    </td>
                                    <td>
                                        <span th:text="${leg.to}"/>
                                    </td>
                                    <td>
                                        <span th:text="${#dates.format(leg.unloadTime, 'dd-MM-yyyy HH:mm')}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </th:block>

        <th:block th:unless="*{isRouted()}">
            <a href="#" th:href="@{/selectItinerary(trackingId=*{trackingId})}">Route this cargo</a>
        </th:block>

    </div>

</div>

<th:block th:replace="fragments :: footer"></th:block>

</body>
</html>